* {
  font-family: "Source Sans Pro", sans-serif;
}

header {
  background-color: #f89900;
  position: fixed;
  width: 100%;
  z-index: 998;
}

body {
  background-color: #f8f8f8;
}

nav {
  width: 100%;
  padding: 24px 12px;
}

.navigation {
  margin: 0;
  padding: 0;
  text-align: right;
  margin-bottom: 12px;
}

.navigation__element,
.navigation__element--active {
  display: inline-block;
  margin: 0 6px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation__element a,
.navigation__element--active a {
  color: #f1f1f1;
  font-weight: 600;
  text-decoration: none;
  opacity: 0.9;
}

.navigation__element a:hover,
.navigation__element--active a:hover {
  color: #ffffff;
  opacity: 1;
}

.navigation__element--active a {
  color: #ffffff;
  opacity: 1;
}

.searchbar,
.searchbar__text {
  text-align: center;
  color: #ffffff;
  margin-bottom: 12px;
}

.searchbar__text--title {
  color: #ffffff;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
}

.searchbar__text--subtitle {
  color: #ffffff;
  margin: 0;
  font-weight: 600;
}

.searchbar__input {
  margin-top: 12px;
}

.searchbar__input--bar {
  width: 432px;
  border: none;
  height: 36px;
  padding: 0 12px;
}

@media (max-width: 575.98px) {
  .searchbar__input--bar {
    width: 100%;
  }
}

.beerlist {
  background-color: #f8f8f8;
  padding: 283px 0 72px 0;
  display: block;
}

.beerlist button {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 24px;
}

.beerlist button:focus {
  outline: none;
}

.beerlist button:hover {
  text-decoration: none;
}

.beerlist .beer-card {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fff;
  -webkit-box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 24px;
  height: 326px;
  opacity: 0.9;
  position: relative;
}

.beerlist .beer-card button {
  width: 100%;
  display: block;
}

.beerlist .beer-card:hover {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 20px 20px -15px rgba(0, 0, 0, 0.4);
}

.beerlist .beer-card:hover .beer-card__description {
  color: #f89900 !important;
}

.beerlist .beer-card .beer-card__favorite {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 0;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff polygon {
  fill: #f1f1f1;
  stroke: #f1f1f1;
  stroke-linejoin: round;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff svg {
  height: 25px;
  width: 25px;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff svg:hover {
  left: 2px;
  top: 2px;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff svg:hover polygon {
  fill: #fd9c00;
  stroke: #fd9c00;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff svg:active {
  left: 8px;
  top: 8px;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOff svg:active polygon {
  fill: #f89900;
  stroke: #f89900;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOn {
  -webkit-animation: highlight 4s ease-out 1 normal;
  animation: highlight 4s ease-out 1 normal;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOn polygon {
  fill: #f89900;
  stroke: #f89900;
  opacity: 1;
  stroke-linejoin: round;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOn svg {
  height: 25px;
  width: 25px;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOn svg:hover polygon {
  fill: #925a00;
  stroke: #925a00;
}

.beerlist .beer-card .beer-card__favorite.beer-card__favorite--starOn svg:active polygon {
  fill: #f89900;
  stroke: #f89900;
}

.beerlist .beer-card .beer-card__header {
  text-align: center;
  position: relative;
}

.beerlist .beer-card .beer-card__header .beer-card__img {
  height: 150px;
  margin-bottom: 24px;
}

.beerlist .beer-card .beer-card__body {
  text-align: center;
  padding-bottom: 36px;
}

.beerlist .beer-card .beer-card__body .beer-card__title {
  font-size: 24px;
  margin: 6px 0;
  font-weight: bold;
  color: #f89900;
  height: 56px;
}

.beerlist .beer-card .beer-card__body .beer-card__description {
  font-size: 16px;
  color: #cacaca;
  margin: 0;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.mymodal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
}

.mymodal .modal-content {
  padding: 48px 24px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  width: 60%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  overflow-y: auto;
  position: relative;
}

.mymodal .modal-content .close {
  width: 12px;
  position: absolute;
  top: 12px;
  right: 12px;
}

.mymodal .modal-content .close img {
  width: 12px;
}

@media (max-width: 768px) {
  .mymodal .modal-content {
    width: 100%;
  }
}

.mymodal .close {
  position: absolute;
  color: #424242;
  right: 12px;
  top: 12px;
  font-size: 20px;
  font-weight: bold;
}

.mymodal a {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mymodal a:hover {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mymodal a:hover .also-like__box {
  border: 1px solid #f89900;
}

.mymodal a:hover .also-like__box .also-like__name {
  font-weight: bold;
  color: #f89900;
  font-size: 24px;
}

.img-modal {
  text-align: center;
}

@media (max-width: 576px) {
  .img-modal {
    margin: 12px 0;
  }
}

.img-modal .img-modal__beer {
  height: 350px;
}

.name-and-tags .name-and-tags__beername {
  color: #f89900;
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  margin-bottom: 12px;
}

.name-and-tags .name-and-tags__tag {
  margin: 0;
  color: #cacaca;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 12px;
}

.name-and-tags .name-and-tags__decal {
  height: 5px;
  background-color: blue;
  width: 10%;
  margin-bottom: 12px;
}

.name-and-tags .name-and-tags__values {
  margin-bottom: 12px;
}

.name-and-tags .name-and-tags__values ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.name-and-tags .name-and-tags__values ul li {
  display: inline-block;
  color: #7c7c8f;
  margin-right: 24px;
  font-size: 15px;
}

.description-parragraf .description-parragraf__text {
  font-size: 18px;
  color: #7c7c8f;
  margin-bottom: 12px;
}

.food-pairing .food-pairing__title {
  color: #7c7c8f;
  margin-bottom: 12px;
  font-size: 21px;
}

.food-pairing .food-pairing__list {
  font-size: 18px;
  color: #7c7c8f;
  margin-bottom: 12px;
}

.also-like {
  margin-top: 24px;
}

.you-may-like .you-may-like__title {
  color: #f89900;
  font-weight: 600;
  margin-bottom: 24px;
}

.also-like__box {
  border: 1px solid #d9d9d9;
  text-align: center;
  padding: 20px;
}

@media (max-width: 576px) {
  .also-like__box {
    margin: 12px 0;
  }
}

.also-like__box .also-like__image {
  height: 200px;
  margin-bottom: 24px;
}

.also-like__box .also-like__name {
  font-weight: bold;
  color: #7c7c8f;
  font-size: 24px;
}
/*# sourceMappingURL=style.css.map */